<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h2>Welcome to Add Page</h2>
    <form action="/user/add" method="POST">
        <input type="text" name="username" placeholder="Input Username"><br><br>
        <input type="password" name="password" placeholder="Input Password"><br><br>
        <input type="text" name="fullname" placeholder="Input Full Name"><br><br>
        <input type="email" name="email" placeholder="Input Email"><br><br>
        <input type="file" name="file" id="file"><br><br>
        <input type="submit" value="Save"> | <a href="/index"><input type="button" value="Cancel"></a>
    </form>
</body>
</html>