{{ define "add" }}
    {{ template "header" }}
    <h2>Welcome to Add Page</h2>
    <form action="/user/add">
        <input type="text" name="username" placeholder="Input Username"><br>
        <input type="password" name="password" placeholder="Input Password"><br>
        <input type="text" name="fullname" placeholder="Input Full Name"><br>
        <input type="email" name="email" placeholder="Input Email"><br>
        <input type="submit" value="Save">
    </form>
    {{ template "footer" }}
{{ end }}