<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h2>Welcome to Index Page</h2><br>
    <a href="/index/add"><button>Add Data</button></a>
    <hr>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Fullname</th>
            <th colspan="3">Action</th>
        </thead>

        <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Username }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Fullname }}</td>
                    <td><a href="/index/user?id={{ .Id }}">View</a></td>
                    <td><a href="/index/update?id={{ .Id }}">Edit</a></td>
                    <td><a href="/index/delete?id={{ .Id }}">Delete</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>