<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h2>Welcome to Index Page</h2><br>
    <a href="/index/add"><button>Add Data</button></a>
    <hr>
    <table>
        <thead>
            <th>No. </th>
            <th>Username</th>
            <th>Email</th>
            <th>Fullname</th>
            <th colspan="2">Action</th>
        </thead>

        <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
        </tbody>
    </table>
</body>
</html>