<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h2>Welcome to User Page</h2>
    <h3>Registered Id = {{ .Id }}</h3>
    <p>Username : {{ .Username }}</p><br>
    <p>Fullname : {{ .Fullname }}</p><br>
    <p>Email : {{ .Email }}</p><br>
    <a href="/index/update?id={{ .Id }}">Edit</a>
    <a href="/index">Back</a>
</body>
</html>